<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Zane Alumbaugh</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="{% url 'updates' %}">Updates</a>
      <a class="nav-item nav-link" href="{% url 'projects' %}">Projects</a>
      <a class="nav-item nav-link" href="https://github.com/zanedma/resume" target="blank">Resume</a>
      <a class="nav-item nav-link" href="https://linkedin.com/in/zanealumbaugh" target="_blank">LinkedIn</a>
    </div>
  </div>
</nav>
